## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored and organized in a way that allows easy retrieval and manipulation of information. Databases are commonly used in various applications, such as web applications, mobile applications, financial systems, and more.

SQL and NoSQL are two main types of databases that differ in their data storage and retrieval approaches. SQL (Structured Query Language) databases are relational databases that store data in tables with rows and columns. The data is structured and follows a schema that defines the relationships between the tables. SQL databases use SQL as a query language to retrieve and manipulate data. Some popular SQL databases include MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

On the other hand, NoSQL (Not only SQL) databases are non-relational databases that store data in a non-tabular format. The data is usually stored in collections, documents, or key-value pairs, and does not follow a fixed schema. NoSQL databases are highly scalable and can handle large amounts of unstructured data. NoSQL databases use different query languages depending on the type of database. Some popular NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

The main differences between SQL and NoSQL databases are:

Data Model: SQL databases use a structured, tabular data model, while NoSQL databases use various non-tabular data models.

Scalability: NoSQL databases are highly scalable and can handle large amounts of unstructured data, while SQL databases have more limited scalability options.

Flexibility: NoSQL databases offer more flexibility in terms of data structure and schema, while SQL databases have a fixed schema that must be adhered to.

Query Language: SQL databases use SQL as a query language, while NoSQL databases use different query languages depending on the type of database.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands that are used to create, modify, and delete database objects such as tables, views, indexes, and constraints. DDL statements are used to define the structure and layout of the database.

The four commonly used DDL commands are:

CREATE: The CREATE command is used to create a new database object, such as a table, view, or index. For example, the following command creates a new table named "employees" with three columns: "id", "name", and "salary":

In [ ]:
# CREATE TABLE employees (
#   id INT PRIMARY KEY,
#   name VARCHAR(50) NOT NULL,
#   salary DECIMAL(10,2) NOT NULL
# );

DROP: The DROP command is used to delete a database object, such as a table, view, or index. For example, the following command drops the "employees" table:

In [2]:
# DROP TABLE employees;

ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table, view, or index. For example, the following command adds a new column "age" to the "employees" table:

In [ ]:
# ALTER TABLE employees
# ADD age INT;

TRUNCATE: The TRUNCATE command is used to remove all the data from a table while keeping the table structure intact. For example, the following command removes all the data from the "employees" table:

In [ ]:
# TRUNCATE TABLE employees;

In summary, DDL commands are used to define, modify, and delete the structure of a database. These commands are essential for creating and managing the database objects that store the data. The CREATE, DROP, ALTER, and TRUNCATE commands are commonly used to perform these tasks.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands that are used to manipulate data stored in a database. DML commands are used to insert, update, and delete data in database tables.

The three commonly used DML commands are:

INSERT: The INSERT command is used to add new data into a table. For example, the following command inserts a new row into the "employees" table:
This command adds a new row with the "id" value of 1, "name" value of 'John Doe', and "salary" value of 50000 to the "employees" table.

In [ ]:
# INSERT INTO employees (id, name, salary)
# VALUES (1, 'John Doe', 50000);

UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following command updates the "salary" value of the employee with "id" 1 in the "employees" table:
This command sets the "salary" value to 55000 for the row where the "id" value is 1 in the "employees" table.

In [3]:
# UPDATE employees
# SET salary = 55000
# WHERE id = 1;

DELETE: The DELETE command is used to remove data from a table. For example, the following command deletes the row with "id" value of 1 from the "employees" table:
This command removes the row where the "id" value is 1 from the "employees" table.

In [4]:
# DELETE FROM employees
# WHERE id = 1;

In summary, DML commands are used to manipulate data stored in database tables. The INSERT command is used to add new data, the UPDATE command is used to modify existing data, and the DELETE command is used to remove data from a table. These commands are essential for managing the data stored in a database.

## Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL commands that are used to retrieve data from one or more tables in a database. The SELECT statement is the most commonly used DQL command, and it is used to retrieve data from a table or a view.

The SELECT statement has the following syntax:

In [ ]:
# SELECT column1, column2, ...
# FROM table_name
# WHERE condition;

Where:

column1, column2, ... are the names of the columns that you want to retrieve data from.
table_name is the name of the table that you want to retrieve data from.
condition is an optional parameter that is used to filter the data that you want to retrieve.
For example, let's say we have a table named "employees" with the following data:

id	name	   age	salary
1	John Doe	35	50000
2	Jane Doe	28	60000
3	Bob Smith	42	55000

To retrieve all the data from the "employees" table, we can use the following SELECT statement:

In [ ]:
# SELECT * FROM employees;

o retrieve only specific columns, we can list them after the SELECT keyword. For example, the following SELECT statement retrieves only the "name" and "salary" columns from the "employees" table:


SELECT name, salary FROM employees;
This command retrieves only the "name" and "salary" columns from the "employees" table, resulting in the following output:

name	   salary
John Doe	50000
Jane Doe	60000
Bob Smith	55000

We can also use the WHERE clause to filter the data that we want to retrieve based on a specific condition. For example, the following SELECT statement retrieves only the rows where the "salary" value is greater than 55000:


SELECT * FROM employees WHERE salary > 55000;
This command retrieves only the rows where the "salary" value is greater than 55000, resulting in the following output:

id	name	   age  salary
2	Jane Doe	28	60000

In summary, the SELECT statement is used to retrieve data from one or more tables in a database. It allows us to retrieve all the columns or only specific columns, and we can use the WHERE clause to filter the data that we want to retrieve based on specific conditions.

## Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or set of columns that uniquely identifies each record in a table. It must be unique, non-null, and should not change over time. Primary Keys are used to enforce data integrity and to ensure that each record in the table can be uniquely identified. A table can have only one primary key.

For example, consider a table named "students" with the following columns:

id	name	age	address
1	John	18	New York
2	Alice	19	California
3	Bob  	20	Texas

In this table, the "id" column is a good candidate for the primary key since it is unique and can be used to identify each record uniquely. Therefore, we can define the "id" column as the primary key of the "students" table.

A Foreign Key is a column or set of columns that refers to the Primary Key of another table. It is used to establish a link between two tables and to enforce referential integrity. A Foreign Key can have multiple references in a single table or across multiple tables.

For example, consider a table named "courses" with the following columns:

id	name	        credits
101	Mathematics	        3
102	Physics	            4
103	Computer Science	3

Now let's say we have another table named "enrollments" that stores information about which student is enrolled in which course. The "enrollments" table could have the following columns:

student_id	course_id
1	101
2	102
1	103
3	101

Here, the "student_id" and "course_id" columns are Foreign Keys since they refer to the "id" columns of the "students" and "courses" tables respectively. These Foreign Keys establish a link between the "enrollments" table and the "students" and "courses" tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Here's an example Python code to connect to a MySQL database and execute a query using the cursor() and execute() methods:

python
Copy code
import mysql.connector

# Establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object to execute queries
mycursor = mydb.cursor()

# Execute a SELECT query
mycursor.execute("SELECT * FROM customers")

# Fetch the results of the query
myresult = mycursor.fetchall()

# Print the results
for x in myresult:
  print(x)
  
In this code, we first establish a connection to the MySQL database using the mysql.connector.connect() method. We pass the necessary connection parameters such as the host, user, password, and database name.

Next, we create a cursor object using the cursor() method of the connection object. The cursor object is used to execute queries and fetch the results.

We then execute a SELECT query using the execute() method of the cursor object. The query "SELECT * FROM customers" retrieves all the rows and columns from the "customers" table.

We fetch the results of the query using the fetchall() method of the cursor object. The fetchall() method returns a list of tuples, where each tuple represents a row

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause specifies the table or tables from which the data will be retrieved.

JOIN clause: If the query involves multiple tables, the JOIN clause is used to combine the rows from different tables based on a related column.

WHERE clause: The WHERE clause is used to filter the rows based on a condition.

GROUP BY clause: The GROUP BY clause is used to group the rows based on one or more columns.

HAVING clause: The HAVING clause is used to filter the groups based on a condition.

SELECT clause: The SELECT clause specifies the columns to be retrieved from the tables.

DISTINCT clause: The DISTINCT clause removes duplicate rows from the result set.

ORDER BY clause: The ORDER BY clause is used to sort the rows based on one or more columns.

LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query.

It's important to note that not all queries will use all of these clauses, and the order may vary depending on the specific requirements of the query. However, this is the typical order in which the clauses are executed.