## Q.1) Create a python program to sort the given list of tuples based on integer value using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
list1

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [5]:
list1.sort(key = lambda x:x[0])
print(list1)

[('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357), ('Virat Kohli', 24936)]

## Q.2) Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
def sqr(x):
    return x**2
## in map we have to define a function first and then we have to call it with a given list, etc;

In [7]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
new_l = list(map(sqr,l))

In [14]:
new_l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q.3) Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]    ;; 
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
tuple_str = tuple(map(lambda x : str(x),lst))

In [18]:
tuple_str

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q.4) Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [26]:
from functools import reduce

In [27]:
lst = []
for i in range (1,26):
    lst.append(i)

In [28]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [29]:
reduce(lambda x,y : x*y,lst)

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [30]:
lst1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [31]:
lst1

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [36]:
lst1_final = list(filter(lambda x : x%2==0 and x%3==0, lst1))

In [37]:
lst1_final

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [38]:
lst2 = ['python', 'php', 'aba', 'radar', 'level']

In [39]:
lst2_final = list(filter(lambda x : x==x[::-1],lst2))

In [40]:
lst2_final

['php', 'aba', 'radar', 'level']